.geo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    align-items: center;
    text-align: center;

    h2{
        font-weight: 700;
    }

    p{
        width: 80%;
        padding: 1rem 0;
    }

    iframe{
        height: 400px;
        width: 520px;
    }
}